.gradle
.lazybones
build
/bin/
.classpath
.project
.settings
/cdtool.log
/r-cdtool.log
/r-cdtool.log-1.log
/r-cdtool.log-2.log
/r-cdtool.log-3.log
/r-cdtool.log-4.log
/r-cdtool.log-5.log
/r-cdtool.log-6.log
/r-cdtool.log-7.log
